{% extends 'base.html.twig' %}

{% block title %}Librairie la Relecture - Les produits{% endblock %}

{% block content %}
    <div class="pt-5">
        <h1 class="text-center mt-5">Les livres</h1>
    <div class="row mt-3">
        {% for product in products %}
            <div class="col-md-4 mt-5 mb-3">
                <div class="product-item text-center">
                    <a href="{{ path('products', {'slug': product.slug } ) }}"><img src="/img/{{ product.illustration }}" alt="{{ product.illustration }}" id="couverture" ></a>
                    <h5>{{ product.title }}</h5>
                    <span class="product-subtitle mt-2">{{ product.author }}</span><br>
                    <span class="product-price mt-2">{{ (product.price / 100) | number_format(2,',', '.' )}} €</span>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
